USE [master]
GO
/****** Object:  Database [APBBroadband]    Script Date: 5/4/2026 2:35:43 PM ******/
CREATE DATABASE [APBBroadband]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'APBBroadband', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\APBBroadband.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'APBBroadband_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\APBBroadband_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [APBBroadband].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [APBBroadband]
GO
/****** Object:  Table [dbo].[APB_Customers]    Script Date: 5/4/2026 2:35:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APB_Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[ContactNumber] [nvarchar](20) NOT NULL,
	[AlternateNumber] [nvarchar](20) NULL,
	[EmailAddress] [nvarchar](100) NULL,
	[PrimaryAddress] [nvarchar](max) NULL,
	[InstallationAddress] [nvarchar](max) NULL,
	[ReferenceSource] [nvarchar](100) NULL,
	[Latitude] [nvarchar](50) NULL,
	[Longitude] [nvarchar](50) NULL,
	[ServiceProvider] [nvarchar](100) NULL,
	[AllocatedPlanName] [nvarchar](100) NULL,
	[EquipmentDetails] [nvarchar](max) NULL,
	[InstallationStatus] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APB_Stock]    Script Date: 5/4/2026 2:35:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APB_Stock](
	[StockID] [int] IDENTITY(1,1) NOT NULL,
	[ItemCategory] [nvarchar](100) NULL,
	[BrandName] [nvarchar](100) NULL,
	[Specification] [nvarchar](max) NULL,
	[CostingRS] [decimal](18, 2) NULL,
	[Quantity] [int] NULL,
	[LastUpdated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[StockID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BroadbandPlans]    Script Date: 5/4/2026 2:35:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BroadbandPlans](
	[PlanID] [int] IDENTITY(1,1) NOT NULL,
	[PlanName] [nvarchar](100) NOT NULL,
	[Amount] [decimal](18, 2) NULL,
	[SpeedMbps] [int] NULL,
	[ProviderID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PlanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterProviders]    Script Date: 5/4/2026 2:35:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterProviders](
	[ProviderID] [int] IDENTITY(1,1) NOT NULL,
	[ProviderName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProviderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[APB_Customers] ADD  DEFAULT ('Active') FOR [InstallationStatus]
GO
ALTER TABLE [dbo].[APB_Customers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[APB_Stock] ADD  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[BroadbandPlans]  WITH CHECK ADD FOREIGN KEY([ProviderID])
REFERENCES [dbo].[MasterProviders] ([ProviderID])
GO
/****** Object:  StoredProcedure [dbo].[sp_AddStock]    Script Date: 5/4/2026 2:35:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure used by AddStock.aspx.cs
CREATE PROCEDURE [dbo].[sp_AddStock]
    @ItemCategory NVARCHAR(100),
    @BrandName NVARCHAR(100),
    @Specification NVARCHAR(MAX),
    @CostingRS DECIMAL(18,2),
    @Quantity INT
AS
BEGIN
    INSERT INTO APB_Stock (ItemCategory, BrandName, Specification, CostingRS, Quantity)
    VALUES (@ItemCategory, @BrandName, @Specification, @CostingRS, @Quantity);
END
GO
USE [master]
GO
