<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- 
      The name 'MyDbConn' is required by your C# code files.
      Initial Catalog is set to your new database: APBBroadband.
    -->
    <add name="MyDbConn" 
         connectionString="Data Source=DESKTOP-HLJKG0L\SQLEXPRESS;Initial Catalog=APBBroadband;Integrated Security=True;TrustServerCertificate=True" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <!-- Debug mode enabled to help catch any remaining connection issues[cite: 1] -->
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    
    <!-- CustomErrors 'Off' ensures you see the exact SQL exception message[cite: 1] -->
    <customErrors mode="Off" />
  </system.web>

  <system.webServer>
    <!-- Sets index.html as the primary landing page -->
    <defaultDocument>
      <files>
        <add value="index.html" />
      </files>
    </defaultDocument>
    
    <!-- Security and directory settings -->
    <directoryBrowse enabled="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>